<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RunImmediately" value="true"/>
    <add key="Email" value="me@mycompany.com"/>
    
    <!-- Mailgun SMTP Configuration; injected by AppHarbor -->
    <add key="MAILGUN_SMTP_LOGIN" value="your_postmaster_login"/>
    <add key="MAILGUN_SMTP_PASSWORD" value="your_postmaster_password"/>
    <add key="MAILGUN_SMTP_SERVER" value="smtp.mailgun.org"/>    
    <add key="MAILGUN_SMTP_PORT" value="587"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
